@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-primary: "Space Grotesk", sans-serif;
  --breakpoint-2xl: 1358px;

  /*Custom colors*/
  --color-primary: #1f242b;
  --color-body-bg: #f1f5f8;
  --color-logo: #1a1f7c;
  --color-secondary: #4e71fa;
  --color-hover: #3d5ee0;
}

@layer base {
  /*html {
    color: red; 
  }*/

  body {
    @apply min-h-screen flex flex-col;
  }

  main {
    @apply bg-body-bg w-full grow flex flex-col;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  .nav-link {
    font-family: var(--font-primary);
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .container-custom {
    @apply max-w-screen-2xl;
    @apply mx-auto;
    @apply w-full;
  }
}
